/*the classes or id names are self explanatory*/
body{
background-image: url(background.jpeg);
background-repeat: no-repeat;
background-size: 100% 20%;
font-family: 'Montserrat', sans-serif; }

.navbr{ margin-top: 2%;
background-color: white;
font-size: 1.3vw;
text-indent: 36%;
margin-left: 5%;
margin-right: 10%;
}


a{font-family: 'Montserrat', sans-serif;
font-size: 1.6vw;
    text-decoration: none;color: rgba(70,125,181);

}


a:hover{
color: black;

}

.navbr button { 
margin-top: 0;
  padding: 3% 2%;
    text-align: center; 
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: white;
    border: none;
    margin-left: -0.5%;
  }
  
  .navbr button:hover {background-color: rgb(211,211,211,0.2)}


.reviews{ margin-top: 24%;
    margin-left: 13%;margin-right: 13%;
  padding-right: 14%;
    background-color:#ececec; 
    display: flex;
    flex-direction:column ;
}


img{ border-radius: 50%;
width: 4%;}


.r1 { background-color: white;
    margin-left: 11%; margin-right: -12%;  padding-left: 10%; padding-bottom: 5%; padding-right: 10%; font-size: 1.3vw;
padding-top: 15%;
margin-top: -5%;

}


.r2 { background-color: white;
    margin-left: 11%; margin-right: -12%;  padding-left: 10%; padding-bottom: 5%; font-size: 1.3vw;
 margin-top: 10%;padding-right: 10%;padding-top: 15%;
}


.r3 { background-color: white;
    margin-left: 11%; margin-right: -12%;  padding-left: 10%; padding-bottom: 5%; font-size: 1.3vw;
    margin-top: 10%;padding-right: 10%;padding-top: 15%;}


.r4 { background-color: white;
    margin-left: 11%; margin-right: -12%;  padding-left: 10%; padding-bottom: 5%; font-size: 1.3vw;
    margin-top: 10%;padding-right: 10%;padding-top: 15%;
}

.user1 , .user2 , .user3 , .user4{position: absolute;

    margin-left: 22.6%;
    margin-top: -11%;
}



h4{  margin-top: -7%; position: absolute; margin-left: 21.8%; text-align: center;}
h6{margin-top: -5%; position: absolute; margin-left: 22.2%;}
h1{margin-top: -4%; position: absolute;font-size: 2.2vw;margin-left: 3.5%;}


#thumbsup{ color: green; margin-top: -1%; font-size: 2vw; margin-left: 10%; position: absolute;}
#star1a{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 13%; position: absolute;}
#star2a{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 16%; position: absolute;}
#star3a{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 19%; position: absolute;}
#star4a{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 22%; position: absolute;}
#star5a{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 25%; position: absolute;}
#star6a{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 28%; position: absolute;}
#star1b{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 13%; position: absolute;}
#star2b{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 16%; position: absolute;}
#star3b{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 19%; position: absolute;}
#star4b{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 22%; position: absolute;}
#star5b{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 25%; position: absolute;}
#star6b{color: #e1ad01; margin-top: -1%; font-size: 2vw; margin-left: 28%; position: absolute;}
#thumbsdown{ color: red; margin-top: -1%; font-size: 2vw; margin-left: 10%; position: absolute;}



.cmnt1, .cmnt2, .cmnt3 , .cmnt4 { background-color: #f8d970; color: rgb(70,125,181); margin-left:31%; font-size: 1.4vw;  padding: 2%;padding-right: 6%;padding-left: 6%; border: 0px; font-weight: 500; font-family: 'Montserrat', sans-serif;}

svg{ position: absolute;margin-left: -28%; width: 13%; margin-top: 2%;}





.cmntadd1 , .cmntadd2 , .cmntadd3 , .cmntadd4{ font-size: 1.4vw;
text-indent: 40%;
padding-top: 2.5%;
font-weight: bold;

 

}

.hidden1 , .hidden2 , .hidden3 , .hidden4{ display: none;}

.fine{
    background: -webkit-linear-gradient(#000000, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}


.hotel{
    margin-left: 45%;
margin-top: -2.3%;
width: 10%;

}


.newc{
font-family: 'montserrat' , sans-serif;
margin-left: 41%;

}


.mng1 , .mng2 , .mng3 , .mng4 {display: none;}







